/vendor
/config/*.env
resources/frontend/node_modules
.env
.env.bak
.phpunit.result.cache
/logs/errors/*
!/logs/errors/.gitkeep
/logs/lighthouse/*
!/logs/lighthouse/.gitkeep
/.vscode
/app/*/assets/build/*