:root {
    --darkcolor1: #000;
    --darkcolor2: #520;
    --darkcolor3: #202;
    --darkcolor4: #730;
    --darkcolor5: #303;
    --darkcolor6: #940;
    --darkcolor7: #404;
    --lightcolor1: #FFF;
    --lightcolor2: #FA4;
    --lightcolor3: #FAF;
    --lightcolor4: #FB6;
    --lightcolor5: #FBF;
    --lightcolor6: #FC8;
    --lightcolor6: #FCF;
    --brightcolor1: #F60;
    --brightcolor2: #F0F;
    --brightcolor3: #FA0;
    --brightcolor4: #F3F;
    --brightcolor5: #FF0;
    --brightcolor6: #F5F;
    --boxshadow1: 0 0 5px 5px rgb(0 0 0 / 0.3);
}

* {
    box-sizing: border-box;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--lightcolor1);
    max-width: 100%;
    padding: 0;
    border: 0;
    outline: 0;
}

html,
body {
    min-height: 100vh;
    width: 100%;
    background: var(--lightcolor1);
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

h1,
h2,
h3,
h4,
h5,
h6 {
    width: 100%;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--brightcolor1);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

a {
    color: var(--brightcolor3);
    text-decoration: none;
    cursor: pointer;
    display: contents;
}

a[href^="tel:"] {
    font-size: 10vw;
}

a[href^="mailto:"] {
    font-size: 7vw;
}

a[href^="tel:"]:before {
    content: "\260E\00a0";
}

a[href^="mailto:"]:before {
    content: "\2709\00a0";
}

a:hover {
    text-decoration: none
}

button {
    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--boxshadow1);
}

form input,
form textarea,
form button,
form select,
button.button {
    width: 100%;
    border: 2px solid var(--brightcolor1);
    border-radius: 10px;
    outline: 0;
    height: auto;
    background: none;
    color: var(--brightcolor1);
    font-size: 1.2rem;
    padding: 5px;
    margin: 10px 5px;
    box-shadow: var(--boxshadow1);
}

button.swal2-styled {
    box-shadow: var(--boxshadow1);
}

input[type=checkbox], .swal2-close {
    box-shadow: none;
}

label {
    display: none;
    margin: 0px 5px;
}

form input {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid var(--brightcolor1);
    padding: 0px;
    box-shadow: none;
}

option {
    background: var(--lightcolor1);
    color:var(--brightcolor1);
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--brightcolor1);
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--brightcolor1);
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--brightcolor1);
}

form textarea {
    height: 50vh
}

input:focus,
textarea:focus {
    outline: 0
}

input[type="checkbox"] {
    zoom: 4;
}

form button,
button.button {
    outline: 0;
    background: var(--darkcolor2);
    color: var(--lightcolor1);
    cursor: pointer
}

button:hover,
button.button:hover,
.tabulator .tabulator-row.tabulator-selectable:hover {
    background: var(--brightcolor1);
    color: var(--lightcolor1)
}

ul {
    width: 100%;
    padding-inline-start: 0px;
    word-wrap: break-word
}

li {
    display: block;
    margin-bottom: 20px
}

p {
    max-width: 100%;
}

small,
small * {
    font-size: 0.8rem
}

@media only screen and (orientation:landscape) and (min-width:800px) {
    html,
    body {
        flex-direction: row;
    }
    
    h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    h2 {
        font-size: 1.8rem;
        font-weight: bold;
    }
    h3 {
        font-size: 1.6rem;
        font-weight: bold;
    }
    h4 {
        font-size: 1.4rem;
        font-weight: bold;
    }
    h5 {
        font-size: 1.2rem;
        font-weight: bold;
    }
    h6 {
        font-size: 1rem;
        font-weight: bold;
    }
    textarea {
        height: 100px
    }
    ul {
        width: 30%;
        padding-inline-start: 0px;
        word-wrap: break-word
    }
}