[Site]
NAME=Module PHP
DESCRIPTION=Description of Module PHP
LANG=pt-BR
TWITTER=
INSTAGRAM=
FACEBOOK=
PHONE=
COLOR1=#2E3094
COLOR2=#F7991F
AUTHOR=Dux Tecnologia - https://dux.tec.br
URL=https://modulephp.com
PLAYSTOREURL=https://play.google.com/store/apps/details?id=modulephp
LOGO=img/logo.webp
ICON=img/icon.webp
